
ProcessEditorView {
    background-color: white;
} 

BottomInfoBar {
    background-color: lightgray;
}

ProcessTextEditView {
    background-color: white;
}

ProcessView {
    background-color: #f0f0f0;
    border-color: #d1d1d1;
}

QTextEdit {
    background-color: white;
}

QDateTimeEdit {
    background-color: white;
}

QLineEdit {
    background-color: white;
}
